<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>upload profile pic</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="main w-full min-h-screen bg-zinc-900 text-white p-10">
        <h1 class="text-2xl text-zinc-300 mb-3 font-bold">Upload profile picture  </h1>
        <form action="/upload" method="post" enctype="multipart/form-data">
            <input class="px-3 py-2 bg-transparent border-2 rounded-md w-1/4 outline-none block mb-2" type="file" placeholder="username" name="image">
            <input class="px-3 py-2 bg-blue-600  rounded-md  outline-none block mb-2" type="submit" value="Upload file">
        </form>

    </div>

    
</body>
</html>